.wrapper {
	background-color: rgb(207, 244, 236);
	padding: 0px !important;
}
.home_wrapper {
	width: 100%;
	height: auto;
}

.contentsDiv {
	border: 1px solid rgb(207, 244, 236);

	padding: 0px !important;
}

.imageDiv {
	height: 100%;
	width: 100%;
	padding: 0px !important;
	background-color: rgb(224, 240, 230);
	border: 1 px solid rgb(224, 240, 230);
}

.home_header {
	text-align: center;
}
.paragraph {
	line-height: 1.5em;
	text-align: center;
	font-size: 16px;
	letter-spacing: normal;
	font-weight: normal;
}
.bookAppointment {
	display: flex;
	justify-content: space-between;
}
.home_header1 {
	font-size: 16px;
	background: transparent;
	font-weight: bold;
	font-family: sans-serif, Arial, Helvetica;
}
.home_header2 {
	font-size: 2em;
	font-weight: bold;
	font-family: sans-serif, Arial, Helvetica;
}
