* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: whitesmoke;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.notFound {
	font-size: large;
}
.soulLogo {
	width: 96px;
	height: 64px;
	overflow: hidden;
}

.navLinks {
	font-weight: bold;
}
.navLinks:hover {
	color: rgb(224, 240, 240);
}

i:hover {
	color: blue;
}

.logo_1 img {
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	left: 0;
}
.homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.image {
	text-align: center;
}

.icons {
	display: flex;
	justify-content: space-evenly;
}

.iconImage {
	display: flex;
	justify-content: space-between;
	margin: 30px;
	padding: 14px;
	gap: 30px;
}

.iconLinks {
	display: flex;
	justify-content: space-around;
}

p {
	font-weight: normal;
	font-size: 18px;
	padding: 2px 2px 2px 2px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* height: 20%; */
}
.about_header {
	text-align: center;
}
.logo_12 {
	background-color: #b0cccf;
	border: none;
	outline: none;

	height: 310px;
	text-align: center;
	border: none;
}

.book-appointment {
	margin-bottom: -33px;
}
img {
	width: 100%;
	height: 100%;
}
.appoinmentbtn:hover {
	color: orange;
}
