* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	/* background-color: #b0cccf; */
	background-color: rgb(224, 240, 240);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.notFound {
	font-size: large;
}
.soulLogo {
	width: 96px;
	height: 64px;
	overflow: hidden;
}
/* .logo {
	display: flex;
	justify-content: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} */

.logo {
	margin: 0rem;
	width: 100%;
	/*height: 70rem;*/
	background-repeat: no-repeat;
	background-image: url('./images/minimal-geometric-stripe-shape-background_1409-1014.jpg');
	background-size: 100% 100%;
	/* background-color: #b0cccf; */
}

.navLinks {
	font-weight: bold;
}
.navLinks:hover {
	color: rgb(224, 240, 240);
}

.facebook:hover {
	background-color: blue;
}
.logo_1 {
	width: 350px;
	height: 310px;
	text-align: center;
	border: none;
	background: none;

	text-decoration: none;
	background-color: #b0cccf;
}
.logo_1 img {
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	left: 0;
}
.homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.image {
	text-align: center;
}

.icons {
	display: flex;
	justify-content: space-evenly;
}

.iconImage {
	display: flex;
	justify-content: space-evenly;
}

.iconLinks {
	display: flex;
	justify-content: space-evenly;
}
p {
	font-size: 24px;
}
